[display]
viewport=1280x720

[gource]
key=true
seconds-per-day=0.05
user-image-dir=users
colour-images=false
multi-sampling=1
camera-mode=overview
filename-time=2.0
title=hub
user-scale=1.50
user-font-size=18
hide=mouse,progress
highlight-users=1
highlight-all-users=1
output-framerate=60
caption-file=caption.txt
caption-size=22
caption-duration=6
